









/* ----------------------------- SIGN UP + LOG IN ----------------------------- */

.form-signup,
.form-login {
    text-transform: uppercase;
    border: 0;
}

{
    margin: 10px;
    font-size: 15pt;
}

label {
    line-height: 4px;
}

#input-email,
#input-password,
#register-name,
#register-email,
#register-password {
    border-radius: 0;
    border: 1px solid #FF416C;
}

div > small {
    font-size: 11pt;
    color: #999 !important;
    text-transform: lowercase;
    font-style: italic;
    text-align: right;
}

.div-signup-name,
.div-signup-password,
.div-signup-email,
.div-login-password,
.div-login-email {
    margin: 10px;
    font-size: 15pt;
}

#div-signup,
#div-login {
    padding: 40px;
    margin: 60px 240px 0 240px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #FF416C;
}

#signup-button,
#login-button {
    margin: 60px 0 0 0;
    width: 100%;
    line-height: 20px;
    background-color: white;
    color: #FF416C;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 28pt;
    border: 0;
    border-radius: 0;
}












/* TEXT INPUT */



    #category-new option {
        color: #666 !important;
    }


    #goal-name {
        width: 506px;
        padding: 0 10px !important;
    }




/* --------------------------------- LOGS --------------------------------- */



/* INPUT */

    .td-input-category-goals,
    .td-input-event-task {
        width: 100%;
        color: white;
    }





    .td-input-category-goals,
    .td-input-event-task-categories .selectize-input {
        margin-top: 12px;
        margin-left: 12px;
    }









    

    #hours {
        width: 70px;
        text-align: right;
        font-size: 24pt;
    }

    #minutes {
        width: 70px;
        text-align: right;
    }

    #goal-type {
        line-height: 0;
        font-size: 24pt;
   }

    .input-goal-date-time-picker {
        width: 450px;
        font-size: 24pt;
    }

    #start-date {
        width: 258px;
        padding: 0 10px !important;
    }

    #end-date {
        width: 258px;
        padding: 0 10px !important;
    }

    .goal-duration {
        width: 80px;
        padding: 0 !important;
        font-size: 24pt;
    }

    #goal-type {
        border: 0;
        color: #666;
        width: 170px;
        border-radius: 0 !important;
        background-color: white;
        padding: 0 !important;
    }

    #goal-save-div {
        text-align: center;
    }


/* GOAL LOG */

    .td-goal-total-time {
        padding: 0;
    }

    .td-goal-name {
        width: 30%;
        padding-right: 0;
    }

    .td-goal-name > input {
        width: 100%;
    }

    .td-goal-type {
        padding-right: 1%;
        border: 0;
        background-color: white;
    }

    input.td-goal-duration {
        width: 25px;
        padding: 0;
        text-align: right;
    }

    .td-goal-categories {
        width: 70%;
    }

    .td-goal-edit,
    .td-goal-archive {
        width: 70px;
    }


/* ------------------------------ CATEGORIES ------------------------------ */

/* ADD CATEGORY */




   

    #hours {
        width: 70px;
        text-align: right;
        font-size: 24pt;
    }

    #minutes {
        width: 70px;
        text-align: right;
    }

    #category-type {
        line-height: 0;
        font-size: 24pt;
   }

    .date-time-picker {
        width: 450px;
        font-size: 24pt;
    }

    #start-date {
        width: 258px;
        padding: 0 10px !important;
    }

    #end-date {
        width: 258px;
        padding: 0 10px !important;
    }

    .category-duration {
        width: 80px;
        padding: 0 !important;
        font-size: 24pt;
    }

    #category-type {
        border: 0;
        color: #666;
        width: 170px;
        border-radius: 0 !important;
        background-color: white;
        padding: 0 !important;
    }

    #category-save-div {
        text-align: center;
    }


/* CATEGORY LOG */




    



/* --------------------------------- TASKS --------------------------------- */

/* NEW TASK */

   #div-task-new {
        border-radius: 10px;
        padding: 40px;
        margin: 10px 180px 60px 180px;
        background-color: white;
        font-size: 30pt;
        font-family: 'Dosis';
        color: #4a4a4a;
        text-transform: uppercase;
    }

    #stopwatch {
        padding: 0;
        margin: 0;
    }

    #input-new-task-name {
        margin: 0px 0px 10px 10px;
        display: inline;
        padding: 0px 10px;
        font-size: 24pt;
        height: 48px;
        width: 63%;
        color: #4a4a4a;
        vertical-align: middle;
        border-bottom: 2px solid #FF4B2B;
    }



/* TASK LOG */

    #event-log {
        margin: 0;
        padding: 0;
        vertical-align: middle;
    }

    #event-log tbody {
        margin: 0;
        padding: 0;
        vertical-align: middle;
    }

    .td-event-task {
        margin: 0;
        vertical-align: middle !important;
        width: 25%;
    }

   

    

    .td-event-start-time,
    .td-event-end-time {
        width: 180px;
        color: #ffffff;
        opacity: 0.5;
        padding: 12px;
        vertical-align: middle !important;
    }

    .td-event-duration {    
        vertical-align: middle !important;
        width: 100px;
    }


/* -------------------------------- REPORTS -------------------------------- */

/* ADD GOAL */

    #div-report {
        border-radius: 10px;
        padding: 40px;
        margin: 10px 180px 60px 180px;
        font-size: 30pt;
        font-family: 'Dosis';
        background-color: #ffffff;
        color: #4a4a4a;
        text-transform: uppercase;
    }


/* OTHER STUFF */

