/* ------------------------------- ITEM LOGS ------------------------------- */

/* TABLE FONTS */

    .table input {
        font-family: "Source Sans Pro";
        text-transform: uppercase;
        font-size: 18px;
    }


/* TABLE ROWS */

    .table .tr-goal td,
    .table .tr-category td,
    .table .tr-event-task td {
        vertical-align: middle;
        padding: 12px;
        height: 64px;
    }

    .table .tr-category .td-category-goals {
        padding: 7px 0 0 12px;
    }


/* TEXT INPUT */

    .td-input-category,
    .td-input-event-task {
        background-color: transparent;
        width: 100%;
        color: white;
        height: 38px;
    }


/* TABLE CELL WIDTHS */

    .td-goal {
        width: 50%;
    }

    .td-goal-duration {
        width: 20%;
    }

    .td-category {
        width: 40%;
    }

    .td-category-goals {
        width: 47%;
    }

    .td-event-task {
        width: 220px;
    }    

    .td-event-task-categories {
        width: 200px;
    }

    .table .tr-event-task .td-event-start-time,
    .table .tr-event-task .td-event-end-time,{
        width: 10px;
    }


    .td-event-duration {
        width: 100px;
    }


/* SAVE + ARCHIVE BUTTONS */

    .table .tr-goal .td-goal-archive,
    .table .tr-category .td-category-save,
    .table .tr-category .td-category-archive,
    .table .tr-event-task .td-event-task-save,
    .table .tr-event-task .td-event-task-remove {
        margin: 0;
        text-align: center;
        font-size: 18px;
        width: 30px;
    }


/* ----------------------------- ADD NEW ITEMS ----------------------------- */

/* HEADERS */
    
    h1 {
        font-family: 'Dosis' !important;
        text-transform: uppercase;
        font-weight: 0;
        color: white;
        font-size: 60pt !important;
        text-align: center;
    }


/* DIV BOX */

    #goal-new,
    #category-new,
    #task-new {
        border-radius: 10px;
        padding: 40px;
        margin: 10px 180px 60px 180px;
        background-color: white;
        font-size: 30pt;
        font-family: 'Dosis';
        color: #4a4a4a;
        text-transform: uppercase;
    }


/* TEXT INPUT */

    #goal-new input,
    #category-new input,
    #task-new input {
        line-height: 0;
        font-size: 24pt;
        padding: 5px 10px 0px 10px;
        border: 0;
        border-radius: 0;
        border-bottom: 2px solid #FF416C;
    }


/* INPUT WIDTH */

    #input-category-new {
        width: 100%;
    }


/* SUBMIT BUTTON */

    #goal-submit,
    #category-submit,
    #start-button,
    #stop-button,
    #manual-submit {
        margin: 60px 0 0 0;
        width: 100%;
        line-height: 20px;
        background-color: white;
        color: #FF416C;
        font-family: 'Dosis', sans-serif;
        text-transform: uppercase;
        font-size: 28pt;
        border: 0;
        border-radius: 0;
    }

/* ------------------------------- INITIALIZE ------------------------------ */

/* FONT FAMILY AND COLOR + BACKGROUND */

    body {
        font-family: 'Dosis', sans-serif;
        background: #FF0080;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #40E0D0, #FF8C00, #FF0080);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #40E0D0, #FF8C00, #FF0080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #ffffff;
    }

    .container {
        color: white;
        margin: 0 0 200px 0;
    }


/* REMOVE HIDEOUS BOOTSTRAP BLUE GLOW */

    body:not(.user-is-tabbing) button:focus,
    body:not(.user-is-tabbing) input:focus,
    body:not(.user-is-tabbing) select:focus,
    body:not(.user-is-tabbing) textarea:focus {
      outline: none;
    }

/* CHANGE NAVBAR COLOR */

    .bg-dark-weddingdayblues {
        background-color: #FF0080;
    }


/* SET TITLE FONTS (VISIBLE WHEN SIGNED OUT) */

    .title {
        padding-top: 80px;
        font-family: 'Sacramento';
        text-align: center;
        font-size: 140pt;
        line-height: 100pt;
    }

    .subtitle {
        font-family: 'Dosis';
        font-size: 30pt;
        text-align: center;
        color: #ffffff;
    }

    input {
        font-family: 'Dosis', sans-serif;
        font-size: 12pt;
        border: 0;
        border-radius: 0;
    }



