/* ------------------------------- ITEM LOGS ------------------------------- */

/* TABLE FONTS */

    td,
    th,
    .table input {
        font-family: "Roboto Condensed";
        font-size: 18px;
    }

    th {
        text-transform: uppercase;
    }


/* TABLE ROWS */

    .table .tr-goal td,
    .table .tr-category td,
    .table .tr-event-task td {
        vertical-align: middle;
        padding: 12px;
        height: 64px;
    }

    .table .tr-category .td-category-goals {
        padding: 7px 0 0 12px;
    }


/* TEXT INPUT */

    .td-input-category,
    .td-input-event-task {
        background-color: transparent;
        width: 100%;
        color: white;
        height: 38px;
    }


/* TABLE CELL WIDTHS */

    .td-goal-i-want{
        width: 90px;
    }
    .td-goal {
        width: 540px;
    }

    .td-goal-type {
        width: 110px;
    }

    .td-goal-duration,
    .td-goal-total-time,
    .td-goal-time-left,
    .td-event-duration {
        width: 100px;
    }

    .td-goal-end-time {
        width: 270px;
    }

    .td-category {
        width: 40%;
    }

    .td-category-goals {
        width: 47%;
    }

    .td-event-task {
        width: 200px;
    }    

    .td-event-task-categories {
        width: 200px;
    }

    .table .tr-event-task .td-event-start-time,
    .table .tr-event-task .td-event-end-time,{
        width: 10px;
    }


/* SAVE + ARCHIVE BUTTONS */

    .table .tr-goal .td-goal-archive,
    .table .tr-category .td-category-save,
    .table .tr-category .td-category-archive,
    .table .tr-event-task .td-event-task-save,
    .table .tr-event-task .td-event-task-remove {
        margin: 0;
        text-align: center;
        font-size: 18px;
        width: 60px;
    }


/* GOAL MODAL */
    
    .modal-dialog,
    .modal-content {
        background: #FF0080;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #40E0D0, #FF8C00, #FF0080);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #40E0D0, #FF8C00, #FF0080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #ffffff;
    }

    .goal-modal-input-name,
    .goal-modal-input-duration {
        background-color: transparent;
        color: white;
        height: 38px;
    }

    .goal-modal-input-name,
    .modal-input-goal-date-time-picker {
        width: 100%;
    }

    .goal-modal-input-duration {
        width: 20px;
    }

    .goal-modal {
        width: 90px;
        text-align: left;
    }

    .td-goal-modal-input {
        text-align: left;
    }



/* ----------------------------- ADD NEW ITEMS ----------------------------- */

/* HEADERS */
    
    h1 {
        font-family: 'Dosis' !important;
        text-transform: uppercase;
        font-weight: 0;
        color: white;
        font-size: 60pt !important;
        text-align: center;
    }


/* DIV BOX */

    #goal-new,
    #category-new,
    #task-new,
    #report-goal,
    #report-category {
        border-radius: 10px;
        padding: 40px;
        margin: 10px 180px 60px 180px;
        background-color: white;
        font-size: 30pt;
        font-family: 'Dosis';
        color: #4a4a4a;
        text-transform: uppercase;
    }


/* TEXT INPUT */

    #goal-new input,
    #category-new input,
    #task-new input {
        line-height: 0;
        font-size: 24pt;
        padding: 5px 10px 0px 10px;
        border: 0;
        border-radius: 0;
        border-bottom: 2px solid #FF416C;
    }

    #hours,
    #minutes {
        width: 70px;
        text-align: right;
        font-size: 24pt;
        margin-bottom: 8px;
    }
    
    .input-goal-date-time-picker {

    }

    .td-input-event-task-categories {
        width: 100%;
        height: 30px;
        border: 0;
        color: #666;
    }

/* INPUT WIDTH */

    #input-goal-name {
        width: 506px;
        margin-bottom: 8px;
    }

    #input-category-new {
        width: 100%;
        margin-bottom: 8px;
    }

    #input-new-task-name {
        width: 432px;
        margin-bottom: 8px;
    }

    #select-goal-type {
        padding: 10px;
        width: 150px;
        font-size: 30px;
        margin-left: 3px;
        color: #4a4a4a;
    }


/* SUBMIT BUTTON */

    #goal-submit,
    #category-submit,
    #start-button,
    #stop-button,
    #manual-submit {
        margin: 60px 0 0 0;
        width: 100%;
        line-height: 20px;
        background-color: white;
        color: #FF416C;
        font-family: 'Dosis', sans-serif;
        text-transform: uppercase;
        font-size: 28pt;
        border: 0;
        border-radius: 0;
    }

    #mode-toggler {
        width: 100%;
        text-align: center;
        display: inline-block;
        vertical-align: top;
    }

    #datePickers {
        text-align: center;
        display: inline-block;
    }

    .date-time-picker {
        padding-top: 0;
        margin-top: 0;
        text-align: center;
    }

/* ------------------------------- INITIALIZE ------------------------------ */

/* FONT FAMILY AND COLOR + BACKGROUND */

    body {
        font-family: 'Dosis', sans-serif;
        background: #FF0080;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #40E0D0, #FF8C00, #FF0080);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #40E0D0, #FF8C00, #FF0080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #ffffff;
    }

    .container {
        color: white;
        margin: 0 0 200px 0;
    }


/* REMOVE HIDEOUS BOOTSTRAP BLUE GLOW */

    body:not(.user-is-tabbing) button:focus,
    body:not(.user-is-tabbing) input:focus,
    body:not(.user-is-tabbing) select:focus,
    body:not(.user-is-tabbing) textarea:focus {
      outline: none;
    }

/* CHANGE NAVBAR COLOR */

    .bg-dark-weddingdayblues {
        background: none;
    }

/* SET NAVBAR FONT */
    
    nav a {
        font-family: "Roboto Condensed";
        font-size: 18px;
        text-transform: uppercase;
    }


/* SET TITLE FONTS (VISIBLE WHEN SIGNED OUT) */

    .title {
        padding-top: 80px;
        font-family: 'Sacramento';
        text-align: center;
        font-size: 140pt;
        line-height: 100pt;
    }

    .subtitle {
        font-family: 'Dosis';
        font-size: 30pt;
        text-align: center;
        color: #ffffff;
    }

    input {
        font-family: 'Dosis', sans-serif;
        font-size: 12pt;
        border: 0;
        border-radius: 0;
    }



