body {
    font-family: 'Dosis', sans-serif;
}

input {
    font-family: 'Dosis', sans-serif;
    font-size: 12pt;
    border: 0;
    border-radius: 0;
}

.title {
    padding-top: 80px;
    font-family: 'Sacramento';
    text-align: center;
    font-size: 140pt;
    line-height: 100pt;
}

.subtitle {
    font-family: 'Dosis';
    font-size: 30pt;
    text-align: center;
    color: #9b9b9b;
}


/* -------------------------------- LOG IN -------------------------------- */

.form-login {
    text-transform: uppercase;
    border: 0;
}

.div-login-email {
    margin: 10px;
    font-size: 15pt;
}

label {
    line-height: 4px;
}

#input-email {
    border-radius: 0;
}

#input-password {
    border-radius: 0;
}

div > small {
    font-size: 11pt;
    color: white !important;
    text-transform: lowercase;
    font-style: italic;
    text-align: right;
}

.div-login-password {
    margin: 10px;
    font-size: 15pt;
}

#div-login {
    padding: 40px;
    margin: 60px 240px 0 240px;
    border: 2px solid #f34d4c;
    background-color: #f34d4c;
    border-radius: 10px;
    color: white;
}

.div-login-button {
    margin: 60px 10px 0px 10px;
}

#login-button {
    margin: 10px 0;
    width: 100%;
    background-color: white;
    color: #f34d4c;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 18pt;
    border: 0;
    border-radius: 0;
}


/* -------------------------------- SIGNUP -------------------------------- */

.form-signup {
    text-transform: uppercase;
    border: 0;
}

.div-signup-name {
    margin: 10px;
    font-size: 15pt;
}

.div-signup-email {
    margin: 10px;
    font-size: 15pt;
}

.div-signup-password {
    margin: 10px;
    font-size: 15pt;
}

label {
    line-height: 4px;
}

#register-email {
    border-radius: 0;
}

#register-name {
    border-radius: 0;
}

#register-password {
    border-radius: 0;
}

#div-signup {
    padding: 40px;
    margin: 60px 240px 0 240px;
    border: 2px solid #00DEAC;
    background-color: #00DEAC;
    border-radius: 10px;
    color: white;
}

.div-signup-button {
    margin: 60px 10px 0px 10px;
}

#signup-button {
    margin: 10px 0;
    width: 100%;
    background-color: white;
    color: #00DEAC;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 18pt;
    border: 0;
    border-radius: 0;
}


/* --------------------------------- GOALS --------------------------------- */

/* ADD GOAL */

    #goal-new {
        border-radius: 10px;
        padding: 40px;
        margin: 10px 180px 60px 180px;
        font-size: 30pt;
        font-family: 'Dosis';
        background-color: #f34d4c;
        color: white;
        text-transform: uppercase;
    }

    #goal-new input {
        line-height: 0;
        font-size: 24pt;
        padding: 5px 10px 0px 10px;
    }

    #goal-name {
        width: 506px;
        padding: 0 10px !important;
    }

    #hours {
        width: 70px;
        text-align: right;
        font-size: 24pt;
    }

    #minutes {
        width: 70px;
        text-align: right;
    }

    #goal-type {
        line-height: 0;
        font-size: 24pt;
   }

    .input-goal-date-time-picker {
        width: 450px;
        font-size: 24pt;
    }

    #start-date {
        width: 258px;
        padding: 0 10px !important;
    }

    #end-date {
        width: 258px;
        padding: 0 10px !important;
    }

    .goal-duration {
        width: 80px;
        padding: 0 !important;
        font-size: 24pt;
    }

    #goal-type {
        border: 0;
        color: #666;
        width: 170px;
        border-radius: 0 !important;
        background-color: white;
        padding: 0 !important;
    }

    #goal-save-div {
        text-align: center;
    }

    #goal-submit {
        margin: 40px 0 10px 0;
        width: 50%;
        background-color: white;
        color: #f34d4c;
        font-family: 'Dosis', sans-serif;
        text-transform: uppercase;
        font-size: 18pt;
        border: 0;
        border-radius: 0;
    }

/* GOAL LOG */

    .tr-goal {
        height: 64px;
    }

    .td-goal-total-time {
        padding: 0;
    }

    .td-goal-name {
        width: 30%;
        padding-right: 0;
    }

    .td-goal-name > input {
        width: 100%;
    }

    .td-goal-type {
        padding-right: 1%;
        border: 0;
        background-color: white;
    }

    input.td-goal-duration {
        width: 25px;
        padding: 0;
        text-align: right;
    }

    .td-goal-categories {
        width: 70%;
    }

    .td-goal-edit {
        width: 70px;
    }

    .td-goal-archive {
        width: 70px;
    }


/* ------------------------------ CATEGORIES ------------------------------ */

/* ADD CATEGORY */

    #category-new {
        border-radius: 10px;
        padding: 40px;
        margin: 60px 180px;
        font-family: 'Dosis';
        background-color: #f34d4c;
        color: white;
        text-transform: uppercase;
    }

    #category-new input {
        line-height: 0;
        font-size: 24pt;
        width: 100%;
        padding: 5px 10px 0px 10px;
    }

    #category-new option {
        color: #666 !important;
    }

    .input-category-new {
        padding: 0 5px !important;
        margin-bottom: 10px;
    }

    #hours {
        width: 70px;
        text-align: right;
        font-size: 24pt;
    }

    #minutes {
        width: 70px;
        text-align: right;
    }

    #category-type {
        line-height: 0;
        font-size: 24pt;
   }

    .date-time-picker {
        width: 450px;
        font-size: 24pt;
    }

    #start-date {
        width: 258px;
        padding: 0 10px !important;
    }

    #end-date {
        width: 258px;
        padding: 0 10px !important;
    }

    .category-duration {
        width: 80px;
        padding: 0 !important;
        font-size: 24pt;
    }

    #category-type {
        border: 0;
        color: #666;
        width: 170px;
        border-radius: 0 !important;
        background-color: white;
        padding: 0 !important;
    }

    #category-save-div {
        text-align: center;
    }

    #category-submit {
        margin: 40px 0 10px 0;
        width: 100%;
        background-color: white;
        color: #f34d4c;
        font-family: 'Dosis', sans-serif;
        text-transform: uppercase;
        font-size: 18pt;
        border: 0;
        border-radius: 0;
    }

    #category-goal-dropdown {
        width: 100%;
    }

/* CATEGORY LOG */

    .tr-category {
        height: 64px;
        vertical-align: middle;
    }

    .td-category {
        width: 30%;
    }

    .td-input-category {
        width: 100%;
    }

    .td-category-goals {
        width: 55%;
    }

    .td-input-category-goals {
        width: 100%;
    }

    .td-category-save {
        width: 70px;
    }

    .td-category-archive {
        width: 70px;
    }


/* --------------------------------- TASKS --------------------------------- */


/* TASK LOG */

    #event-log {
        margin: 0;
        padding: 0;
        vertical-align: middle;
    }

    #event-log tbody {
        margin: 0;
        padding: 0;
        vertical-align: middle;
    }

    .tr-event-task {
        height: 64px;
    }

    .td-event-task {
        margin: 0;
        vertical-align: middle !important;
        width: 30%;
        padding: 0 !important;
    }

    .td-input-event-task {
        margin: 0;
        width: 100%;
        border: 0;
        padding: 10 !important;
    }

    .td-event-task-categories {
        width: 20%;
        vertical-align: middle !important;
    }

    .td-input-event-task-categories {
        width: 100%;
        vertical-align: middle !important;
    }

    .td-event-start-time {
        width: 200px;
        color: #b8b8b8;
        vertical-align: middle !important;
    }

   .td-event-end-time {
        width: 200px;
        color: #b8b8b8;
        vertical-align: middle !important;
    }

    .td-event-duration {    
        vertical-align: middle !important;
        width: 100px;
    }


/* OTHER STUFF */

h1 {
    font-family: 'Dosis' !important;
    text-transform: uppercase;
    font-weight: 0;
    font-size: 60pt !important;
    text-align: center;

}