/* ---------------------- STOPWATCH ---------------------*/

#goal-new {
    background-color: rgba(255,255,255,0.8);
    font-family: 'Roboto';
    font-size: 16px;
    color: #393A4C;
    height: 50px;
    margin: 0 0 20px 0;
}

#goal-new td {
    padding: 4px 14px;
}

#td-new-goal-name {
    width: 300px;
}

#input-new-goal-name {
    border: 0;
    background: none;
    width: 205px;
}

#target-duration {
    width: 200px;
}

.goal-duration {
    border: 0;
    background: none;
    width: 36px;
    text-align: right;
}

input#input-new-goal-name::placeholder, {
    color: #bfbfbf;
    padding: 2px;
}

#td-goal-type {
    width: 160px;
}

#select-goal-type {
    width: 100px;
    background: none;
    border: none;
}

.input-goal-date-time-picker {
    border: 0;
    background: none;
    width: 150px;
    text-align: center;
}

#goal-submit {
    padding-top: 7px;
}

/* --------------------- GOALS -------------------- */
#goal-new {
    font-family: 'Rubik';
    font-size: 15px;
}

#goal-new input,
#goal-new select {
    color: #009AC0;
}

#td-new-goal-name {
    width: 420px;
}

#input-new-goal-name{
    width: 320px;
}

#target-duration {
    width: 180px;
}

#td-newgoal-range {
    width: 300px;
}

input#newgoal-range {
    padding-left: 4px;
}

.goal-log td {
    background-color: rgba(255,255,255,0.8);
    font-family: 'Roboto';
    font-size: 14px;
    color: #393A4C;
    height: 40px;
    margin-bottom: 6px;
    padding: 14px;
    width: 100%;
}

td.head {
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #009AC0;
    padding-top: 22px;
}

input#newgoal-range,
.goal-log td input,
select {
    border: 0;
    background: none;
}

td.td-goal-expand {
    width: 44px;
}

.expand-more,
.expand-less {
    margin-top: 7px;
    font-size: 16px;
}

td.td-goal-name {
    width: 248px;
}

input.td-input-goal-name {
    width: 220px;
}

td.td-goal-type {
    width: 100px;
}

input.td-input-goal-type {
    width: 72px;
}

td.td-goal-range {
    width: 228px;
}

input#newgoal-range,
input.td-input-goal-range {
    width: 220px;
}

td.td-goal-duration,
td.td-goal-total-time,
td.td-goal-time-left {
    text-align: right;
    width: 110px;
}

input.td-input-goal-target,
input.td-input-goal-total-time,
input.td-input-goal-time-left {
    text-align: right;
    width: 82px;
}

td.td-goal-status {
    width: 86px;
}

td.td-goal-save {
    width: 60px;
}

td.head.td-goal-archive { 
    width: 60px;
}

td.td-goal-archive {
    width: 40px;
}


