/* --------------------- ADD A NEW GOAL -------------------- */

h1.new-goal {
    font-family: 'Dosis';
    text-transform: uppercase;
    color: white;
    padding-top: 60px;
}

#goal-new {
    background-color: rgba(255,255,255,0.8);
    font-family: 'Rubik';
    font-size: 13px;
    color: #393A4C;
    margin: 0 16px 0 0;
    padding: 14px;
}

div.new-goal-name div div.col-sm-3,
div.new-goal-range.col-sm-8 div div.col-sm-2,
div.new-goal-type.col-sm-3 {
    margin-top: 1px;
}

div.new-goal-range.col-sm-8 div div.col-sm-2 {
    text-align: right;
}

div.new-goal-name div div.col-sm-3,
div#goal-new div div.col-sm-5 {
    padding-right: 0;
}

div.new-goal-name div div.col-sm-9,
div#goal-new div div.col-sm-7,
div.new-goal-range.col-sm-8 div div.col-sm-10 {
    padding-left: 0;
}

input.new-goal-name,
select.new-goal-type,
input.new-goal-range,
input.new-goal-target {
    background: none;
    border: 0;
}

input.new-goal-name,
input#new-goal-range {
    width: 100%;
}

input.new-goal-target {
    width: 30px;
    text-align: right;
}

/* --------------------- GOAL LOG -------------------- */

h1.goal-log {
    font-family: 'Dosis';
    text-transform: uppercase;
    color: white;
    padding-top: 30px;
}

div#div-goal-log {
    margin: 0 32px 60px 14px;
}

div.goal-row {
    background-color: rgba(255,255,255,0.8);
    font-family: 'Roboto';
    font-size: 13px;
    color: #393A4C;
    padding: 6px 0;
}

div.head.goal-row {
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #009AC0;
    padding: 12px 0 6px 0;
}

div.head.goal-expand,
div.head.goal-archive,
div.goal-event-head.goal-event-archive {
    color: rgba(0,0,0,0);
}

input.goal-name,
select.goal-categories,
select.goal-type,
input.goal-range,
input.goal-target {
    border: 0;
    background: none;
}

.expand-more,
.expand-less {
    margin-top: 5px;
    font-size: 14px;
}

input.goal-range {
    width: 100%;
}

div.goal-target,
div.goal-total-time,
div.goal-time-left,
div.head.goal-target,
div.head.goal-total-time,
div.head.goal-time-left,
input.goal-target,
input.goal-total-time,
input.goal-time-left {
    text-align: right;
    width: 100%;
}



/* GOAL CATEGORIES */

.multiselect-container>li>a>label.checkbox {
    padding-left: 8px;
}

.multiselect-container>li>a {
    color: #393A4C;
}

.multiselect-container,
.multiselect-selected-text {
    font-size: 12px;
    font-family: 'Roboto';
    padding-left: 0;
}

.multiselect.btn {
    padding: 0 4px;
    background: none;
}

.multiselect-search {
    font-size: 12px;
    font-family: 'Roboto';
    padding-left: 4px;
}

/* --------------------- GOAL EVENTS -------------------- */

div.goal-event-log {
    margin-bottom: 10px;
    background-color: rgba(255,255,255,0.8);
    font-family: 'Roboto';
    font-size: 13px;
    color: #393A4C;
}

div.goal-event-head {
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #009AC0;
    padding: 4px 0 2px 0;
    margin-top: 2px;
}

div.goal-event-head.goal-event-name {
    margin-left: -14px;
}

div.goal-event-head.goal-event-category {
    margin-left: 14px;
}

div.goal-event-head.goal-event-range {
    margin-left: -8px;
}

div.goal-event-head.goal-event-duration {
    margin-left: 4px;
}

div.goal-events {
    padding: 6px 0;
}

div.goal-events div div div,
div.goal-event-archive {
    padding-left: 0;
}

input.goal-event-name,
select.goal-event-category {
    background: none;
    border: 0;
    width: 100%;
}

div.goal-event-range:not(.goal-event-head) {
    color: #9b9b9b;
}

