/* ---------------------- STOPWATCH ---------------------*/

#task-new {
    background-color: rgba(255,255,255,0.8);
    font-family: 'Roboto';
    font-size: 16px;
    color: #393A4C;
    height: 50px;
    margin: 0 0 20px 0;
}

#manual-dates {
    margin-bottom: 10px;
}

.td-manual-left {
    width: 900px;
}

#manual-dates td {
    font-family: 'Roboto';
    font-size: 14px;
}

.td-manual input {
    border: 1px solid #bfbfbf;
    background: none;
    padding: 4px;
    width: 160px;
}

.td-manual {
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
}

#task-new td {
    padding: 4px 14px;
}

#input-new-task-name {
    border: 0;
    background: none;
    width: 606px;
}

input#input-new-task-name::placeholder,
input#m-start::placeholder,
input#m-stop::placeholder {
    color: #bfbfbf;
    padding: 2px;
}

#select-task-category {
    width: 200px;
    background: none;
    border: none;
}

#running-time {
    width: 100px;
}

#start-button,
#stop-button {
    padding-top: 7px;
}

/* --------------------- EVENT LOG -------------------- */
.goal-event-log, 
#event-log {
    background-color: rgba(255,255,255,0.8);
}

.tr-event-task,
.td-event-task-save,
.td-event-task-remove {
    font-family: 'Roboto';
    font-size: 14px;
    color: #393A4C;
    height: 40px;
}

th {
    font-family: 'Roboto';
    font-size: 16px;
    color: #393A4C;
    text-transform: uppercase;
    padding: 14px 14px;
    text-align: left
}

thead {
    border-bottom: 1px dashed #bfbfbf; 
}

.th-task {
    padding-left: 42px;
}

.goal-event-log td, 
#event-log td {
    padding: 14px;
}

.td-input-event-task {
    border: 0;
    background: none;
    width: 485px;
    padding-left: 30px
}

.td-input-event-task-categories {
    background: none;
    border: none;
    width: 200px;
}

.td-event-times {
    color: #9b9b9b;
}

.td-event-duration {
    text-align: right;
    width: 100px;
}

.td-event-task-save {
    width: 60px;
}

.goal-event-log .td-event-task-remove,
#event-log .td-event-task-remove {
    width: 40px;
    padding-right: 14px;
}

.goal-event-log {
    margin-bottom: 12px;
    margin-left: 20px;
    margin-right: 20px;
    width: 1070px;
}