{% extends 'base.html' %}

{% block body %}

<h2>Integrations</h2>

<!-- Add new category -->
<form method="post" class="form-category">
    <input type="text" class="categoryName" placeholder="new category">
    <select multiple class="categoryGoals" id="category-goal-dropdown">
        {% for goal in goals %}
            <option value="{{ goal.name }}">{{ goal.name }}</option>
        {% endfor %}
    </select> 
    
    <span class="categorySubmit">save</span>
</form>




<ul class="list-group">
    <li class="list-group-item">
        <input type="checkbox"> Toggl
    </li>
    <li class="list-group-item">
        <input type="checkbox"> Google Calendar
    </li>
</ul>


<ul class="list-group" id="gcal-events">
    {% for event in gcal_events %}
    <li class="list-group-item">
        <form>
            <input type="hidden" value="{{ event.gcal_event_id }}" class="gcal-event-id">


        {{ event.title }} {{ event.start_time }} {{ event.stop_time }}

        <!-- Categories -->
        <span class="gcal-event-categories">
            
            <!-- Dropdown for multiple selecting categories -->
            <select class="gcal-categories">
                {% for category in categories %}
                    <option>{{ category.name }}</option>
                {% endfor %}
            </select>
        </span>

        <!-- Save -->
        <span class="{{ event.gcal_event_id }} save-gcal">
            <span>save</span>
        </span>

        <!-- Delete -->
        <span class="{{ event.gcal_event_id }} delete-gcal">
            <span>delete</span>
        </span>        


        </form>
    </li>
    {% endfor %}
</ul>

{% endblock %}