<!DOCTYPE html>

<html>
    <head>
        <title>AuditTime</title>
        
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Dosis:300|Sacramento|Rubik" rel="stylesheet">
        
        <!-- Bootstrap -->
        <link href="static/css/bootstrap.css" rel="stylesheet">

        <!-- Materialize -->
        <!-- <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"> -->

        <!-- Selectize -->
        <link rel="stylesheet" type="text/css" href="static/css/selectize.default.css">

        <!-- Flatpickr -->
        <link rel="stylesheet" href="static/css/flatpickr.min.css">

        <!-- Toastr -->
        <link rel="stylesheet" href="static/css/toastr.min.css">

        <!-- Snackbar -->
        <link rel="stylesheet" href="static/css/snackbar.css">

        <!-- Google Material Design Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- AuditTime -->
        <!-- <link rel="stylesheet" type="text/css" href="static/css/audittime.css"> -->

        <!-- AuditTime Watermelon -->
        <link rel="stylesheet" href="static/css/watermelon.css">
        

    </head>

    <body>
        <script src="static/js/Chart.min.js"></script>
        <div class="bg">    
            <!-- Body -->
            {% block body %}
            {% endblock %}
        </div>
        <!-- jQuery -->
        <script src="static/js/jquery-3.3.1.min.js"></script>

        <!-- Popper -->
        <script src="static/js/popper.js"></script>

        <!-- Tablesorter -->
        <script src="static/js/jquery.tablesorter.min.js"></script>

        <!-- Bootstrap -->
        <script src="static/js/bootstrap.bundle.min.js"></script>
    
        <!-- Materialize -->
        <!-- <script type="text/javascript" src="static/js/materialize.min.js"></script> -->

        <!-- Flatpickr -->
        <script src="static/js/flatpickr.js"></script>

        <!-- Selectize -->
        <script src="static/js/selectize.js"></script>

        <!-- Toastr -->
        <script src="static/js/toastr.min.js"></script>

        <!-- AuditTime -->
        <script src="static/js/audittime.js"></script>

        <!-- Login -->
        <script src="static/js/login.js"></script>


    </body>
</html>