<!DOCTYPE html>

<html>
    <head>
        <title>AuditTime</title>
        
        <!-- AuditTime -->
        <link rel="stylesheet" type="text/css" href="static/css/audittime.css">
        
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <!-- Select2 Dropdown Sheemer Sheemer -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

        <!-- Flatpickr -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


    </head>

    <body>

        <h1><a href="/">AuditTime</a></h1>

        <ul>{% for message in get_flashed_messages() %}

            <li>{{ message }}</li>

        {% endfor %}</ul>
        
        <div id="userInfo">
        {% if session.get('user') %}
            

        {% else %}

        {% endif %}
        </div>

        
        <div id="butter"><button type="button" id="signin-toggler">REGISTER</button></div>
        

        <div id="login">
            
        {% if session.get('user') %}
            you're logged in as {{ session.get('user')}}
            <form action='/logout' method="post">
                <button type="submit">sign out</button>
            </form>
    

            <ul id="navbar">
                <li><a href="/user">tasks</a></li>
                <li><a href="/goals">goals + categories</a></li>
            </ul>


        {% else %}
        <form class="form-signin" action="/signin" method="post">
            SIGN IN
            <label for="inputEmail">email address</label>
            <input type="email" id="inputEmail" placeholder="email address" required autofocus name="email">
            <label for="inputPassword" >password</label>
            <input type="password" id="inputPassword" placeholder="password" required name="password">
            <button type="submit">sign in</button>

        </form>
        {% endif %}    

        </div>

        {% if session.get('user') %}
        {% else %}
        <div id="register">

            <form class="form-register" action="/register" method="post">
                REGISTER
                <label for="registerName">name</label>
                <input type="text" id="registerName" placeholder="name" required autofocus name="name">
    
                <label for="registerEmail">email address</label>
                <input type="email" id="registerEmail" placeholder="email address" required autofocus name="email">
    
                <label for="registerPassword" >password</label>
                <input type="password" id="registerPassword" placeholder="password" required name="password">
    
                <button type="submit">register</button>

            </form>
        {% endif %}


        </div>






        {% block body %}
        {% endblock %}

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!-- Popper, Bootstrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

        <!-- Flatpickr -->
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

        <!-- Select2 Dropdown Sheemer Sheemer -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

        <!-- AuditTime -->
        <script src="static/js/audittime.js"></script>
    </body>
</html>