<!DOCTYPE html>

<html>
    <head>
        <title>AuditTime</title>
        
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Dosis:300|Sacramento|Rubik|Roboto" rel="stylesheet">
        
        <!-- Bootstrap -->
        <link href="static/css/bootstrap.css" rel="stylesheet">

        <!-- Bootstrap Multiselect -->
        <link rel="stylesheet" href="static/css/bootstrap-multiselect.css" type="text/css"/>

        <!-- AuditTime Watermelon -->
        <link rel="stylesheet" href="static/css/watermelon.css">
    </head>

    <body>


        <div class="bg main">    
            <!-- Body -->
            {% block body %}
            {% endblock %}
        </div>
        <!-- jQuery -->
        <script src="static/js/jquery-3.3.1.min.js"></script>

        <!-- Popper -->
        <script src="static/js/popper.js"></script>

        <!-- Bootstrap -->
        <script src="static/js/bootstrap.bundle.min.js"></script>


        <!-- Selectize -->
        <script src="static/js/selectize.js"></script>

        <!-- Bootstrap Multiselect -->
        <script type="text/javascript" src="static/js/bootstrap-multiselect.js"></script>


        <!-- AuditTime -->
        <script src="static/js/audittime.js"></script>
        <script src="static/js/login.js"></script>

    </body>
</html>