{% extends 'base.html' %}

{% block body %}



<!-- Add new category -->
<h1>add a new category</h1>

<form method="post" id="form-category">
    <input type="text" name="categoryName" placeholder="new category">
    <select multiple name="categoryGoals" id="category-goal-dropdown">
        {% for goal in goals %}
            <option value="{{ goal.name }}">{{ goal.name }}</option>
        {% endfor %}
    </select> 
    
    <span class="categorySubmit">save</span>
</form>


<!-- Category Log -->
<h1>your categories</h1>

<div id="category-log">
<table class="table table-hover" id="category-log">
    <thead>
    <tr>
        <th scope="col">Category</th>
        <th scope="col">Goals</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead> 
    <tbody>

    {% for category in categories %}
    <tr class="tr-category">

    <form>
        <!-- Category id -->
        <form class="form-category-id"><input type="hidden" class="input-category-id" value="{{ category.category_id }}"></form>


        <!-- Category name -->
        <td class="td-category">
            <input type="text" value="{{ category.name }}" name="{{ category.category_id }}" class="td-input-category">
        </td>

        <!-- Category goals -->
        <td class="td-category-goals">
            <select multiple class="td-input-category-goals">
                                {% for goal in goals %}
                    {% if goal in category.goal %}
                        <option selected>{{ goal.name }}</option>

                    {% else %}
                        <option>{{ goal.name }}</option>

                    {% endif %}
                {% endfor %}
            </select>
        </td>

        <!-- Save -->
        <td class="td-category-save">
        <span class="span-category-save">
            <button class="btn btn-primary"><i class="material-icons">save</i></button>
        </span>
        </td>

        
        <!-- Archive -->
        <td class="td-category-archive">
        <span class="span-category-archive">
            <button class="btn btn-primary"><i class="material-icons">clear</i></button>
        </span>
        </td>


    </form>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>


{% endblock %}


<ul class="list-group" id="category-log-ul">

    {% for category in categories %}
    <li class="list-group-item">

    <form>

        <!-- Category name -->
        <span class="category-input">
            <span class="category-{{ category.category_id }}">
                <input type="text" value="{{ category.name }}" name="{{ category.category_id }}" class="category-input-field category-name">
            </span>
        </span>

        <!-- Category goals -->
        <span class="category-goal-title">
            <span class="category-{{ category.category_id}}">
                
                <!-- Dropdown for multiple selecting goals -->
                <select multiple class="goal-dropdown category-{{ category.category_id }}">
                
                    {% for goal in goals %}
                        {% if goal in category.goal %}
                            <option selected>{{ goal.name }}</option>

                        {% else %}
                            <option>{{ goal.name }}</option>

                        {% endif %}
                    {% endfor %}
                </select>
            </span>
        </span>

        <!-- Save -->
        <span class="category-edit-submit {{ category.category_id }}Submit" name="{{ category.category_id }}">
            <span>save</span>
        </span>

    </form>
    </li>
    {% endfor %}

</ul>