{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <h1 class="gcal">Google Calendar Events</h1>
    </div>

</div>


<h1>Google Calendar Events</h1>

<div id="div-gcal-events">
<table class="table table-hover" id="gcal-events">
    <thead>
        <tr>
            <th scope="col">Task</th>
            <th sccope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Category</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
    {% for event in gcal_events %}
    
        <tr class="tr-gcal-event">

        <!-- Google calendar event id -->
        <form class="form-gcal-event-id">
            <input type="hidden" value="{{ event.gcal_event_id }}" class="gcal-event-id">
        </form>

        <!-- Title -->
        <td class="td-gcal-event-title">
            {{ event.title }}
        </td>

        <!-- Start -->
        <td class="td-gcal-event-start">
            {{ event.start_time }}
        </td>

        <!-- End -->
        <td class="td-gcal-event-end">
            {{ event.stop_time }}
        </td>
            
        <!-- Categories -->
        <td class="td-gcal-event-categories">
            <select class="gcal-event-categories">
                <option disabled selected>Select a category</option> 
                {% for category in categories %}
                    <option>{{ category.name }}</option>
                {% endfor %}
            </select>
        </td>

        <!-- Save -->
            <td class="td-gcal-event-save">
                <span class="span-gcal-event-save">
                    <button class="btn btn-link btn-gcal-event-save">
                        save
                    </button>
                </span>
            </td>

            <!-- Delete -->
            <td class="td-gcal-event-remove">
                <span class="span-gcal-event-remove">
                    <button class="btn btn-link btn-gcal-event-remove">
                        x
                    </button>
                </span>
            </td>        
        </tr>
        
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}