{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">

    <!-- Add new goal -->
    <h1 class="new-goal">Add A New Goal</h1>

    <form id="form-goal" method="post">
        <div id="goal-new">
            <div class="row">
                <div class="col-sm-5">
                    <div class="row">
                        <div class="new-goal-name col-sm-9">
                            <div class="row">
                                <div class="col-sm-3">
                                    I want to
                                </div> 
                                <div class="col-sm-9">
                                    <input type="text" class="new-goal-name" placeholder="watch tv" required autofocus>
                                </div>
                            </div>
                        </div>
                        <div class="new-goal-type col-sm-3">
                            for 
                            <select required class="new-goal-type">
                                <option value="Type" disabled selected>Type</option>
                                <option value="at_least">at least</option>
                                <option value="at_most">at most</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="new-goal-target col-sm-3">
                            <input class="new-goal-target" id="hours" placeholder="0" required> hours

                            <input class="new-goal-target" id="minutes" placeholder="0" required> min
                        </div>
                        <div class="new-goal-range col-sm-8">
                            <div class="row">
                                <div class="col-sm-2">
                                    during 
                                </div>
                                <div class="col-sm-10">
                                    <input name="new-goal-datetimes" type="text" class="new-goal-range" id="new-goal-range" placeholder="pick a time range">
                                </div>
                            </div>
                        </div>
                        <div class="new-goal-submit col-sm-1">
                            <i id="goal-submit" class="material-icons">
                                add_circle
                            </i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    Which categories should we count towards this goal?
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 new-goal-categories">
                    <select multiple class="new-goal-categories">
                        {% for category in categories %}
                        <option value="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </form>


    <!-- Goal Log -->
    <h1 class="goal-log">Your Goals</h1>
    <div id="div-goal-log">

        <!-- Goal Headers -->
        <div class="head goal-row row">
            <div class="col-sm-12">

            <div class="row">
                <div class="head col-sm-7">
                    <div class="row">
                        <div class="head col-sm-1 goal-expand">
                            <i class="material-icons expand-more">expand_more</i>
                        </div>
                        <div class="head col-sm-3 goal-name">Goal</div>
                        <div class="head col-sm-2 goal-categories">Categories</div>
                        <div class="head col-sm-2 goal-type">Type</div>
                        <div class="head col-sm-4 goal-range">Time Range</div>
                    </div>
                </div>

                <div class="head col-sm-5">
                    <div class="row">
                        <div class="col-sm-11"><div class="row">
                            <div class="head col-sm-3 goal-target">Target</div>
                            <div class="head col-sm-3 goal-total-time">Spent</div>
                            <div class="head col-sm-3 goal-time-left">Time Left</div>
                            <div class="head col-sm-3 goal-status">Status</div>
                        </div></div>
                        <div class="head col-sm-1 goal-archive"><span>x</span></div>
                    </div>
                </div>
            </div>

            </div>
        </div>
     

        <!-- Individual Goals -->
        <div class="individual-goals">
        {% for goal in goals %}
        <div class="goal-row row">
            <div class="col-sm-12">

                <!-- Goal id -->
                <form class="form-goal-id"><input type="hidden" class="input-goal-id" value="{{ goal.goal_id }}"></form>

                <div class="row">
                    <div class="col-sm-7"><div class="row">

                        <div class="col-sm-1 goal-expand">
                            <i class="material-icons expand-more">expand_more</i>
                            <i class="material-icons expand-less">expand_less</i>
                        </div>

                        <!-- Goal name -->
                        <div class="col-sm-3 goal-name">
                            <input type="text" value="{{ goal.name }}" class="goal-name">
                        </div>

                        <!-- Goal categories -->
                        <div class="col-sm-2 goal-categories">
                            <select class="goal-categories" multiple>
                                {% for category in categories %}
                                    {% if category in goal.categories %}
                                        <option value="{{ category.name }}" selected="selected">{{ category.name }}</option>
                                    {% else %}
                                    <option value="{{ category.name }}">{{ category.name }} </option>
                                    }
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Goal type -->
                        <div class="col-sm-2 goal-type">
                            <select class="goal-type">
                                <option selected class="option-goal-type-selected">
                                    {% if goal.goal_type == "at_least" %}
                                        at least

                                    {% else %}
                                        at most

                                    {% endif %}
                                </option>
                                <option class="option-goal-type-unselected">
                                    {% if goal.goal_type == "at_least" %}
                                        at most

                                    {% else %}
                                        at least

                                    {% endif %}
                                </option>
                            </select>

                        </div>

                        <!-- Goal time range -->
                        <div class="col-sm-4 goal-range">
                            <input hidden value="{{ goal.start_time.strftime('%-m-%d %I:%M %p') }}" class="goal-range-start">
                            <input hidden value="{{ goal.end_time.strftime('%-m-%d %I:%M %p') }}" class="goal-range-end">
                            <input name="datetimes" type="text" class="goal-range">
                        </div>



                    </div></div>

                    <div class="col-sm-5"><div class="row">

                        <div class="col-sm-11"><div class="row">
                            <!-- Goal duration target -->
                            <div class="col-sm-3 goal-target">

                                {% if goal.duration.days > 0 %}
                                    {% set days = (goal.duration.days)|string + "d " %}
                                {% else %}
                                    {% set days = '' %}
                                {% endif %} 

                                {% if (goal.duration.seconds // 3600) > 0 %}
                                    {% set hours = (goal.duration.seconds // 3600)|string + "h " %}
                                {% else %}
                                    {% set hours = '' %}
                                {% endif %}

                                {% if (goal.duration.seconds // 60 % 60) > 0 %}
                                    {% set minutes = (goal.duration.seconds // 60 % 60)|string + "min" %}
                                {% else %}
                                    {% set minutes = '' %}
                                {% endif %}

                                {% set target = days + hours + minutes %}

                                <input type="text" value="{{ target }}" class="goal-target">

                            </div>

                            <!-- Goal total time progress -->
                            <div class="col-sm-3 goal-total-time">
                                {{ goal.total_time_str("goal_time") }}
                            </div>

                            <!-- Goal time left -->
                            <div class="col-sm-3 goal-time-left">
                                {{ goal.time_left() }}

                            </div>

                            <!-- Goal status -->
                            <div class="col-sm-3 goal-status">
                                {% if goal.goal_status() == 'Success!' %}
                                    <span class="success">{{ goal.goal_status() }}</span>

                                {% elif goal.goal_status() == 'FAILED' %}
                                    <span class="fail">{{ goal.goal_status() }}</span>

                                {% elif goal.goal_status() == 'In progress' %}
                                    {{ goal.goal_status() }}

                                {% endif %}
                            </div>
                        </div></div>

                        <!-- Archive -->
                        <div class="col-sm-1 goal-archive"><div class="row">
                            <span class="span-goal-archive">
                                x
                            </span>
                        </div></div>
                    </div></div>
                </div>


            </div>
        </div>


        <!-- Events associated with individual goal -->
        <div class="goal-event-log">

            <!-- Goal Event Headers -->
            <div class="goal-event-head row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-8 goal-event-head goal-event-name">Event</div>
                                <div class="col-sm-4 goal-event-head goal-event-category">Category</div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5"></div>

                                <div class="col-sm-4 goal-event-head goal-event-range">Start - Stop</div>
                                <div class="col-sm-3 goal-event-head goal-event-duration">Duration</div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 goal-event-head goal-event-archive">
                    <span class="goal-event-archive">x</span>
                </div>
            </div>


            <!-- Individual Goal Events -->
            {% for event in events %}
            {% if goal in event.task.category.goal %}
            <div class="goal-events row">

                <!-- Event id, task id -->
                <form class="form-event-id">
                    <input type="hidden" class="goal-event-id" value="{{ event.event_id }}">
                    <input type="hidden" class="goal-event-task-id" value="{{ event.task.task_id }}">
                </form>


                <div class="col-sm-1"></div>

                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">

                                <!-- Event name -->
                                <div class="col-sm-8 goal-event-name">
                                    <input type="text" value="{{ event.task.name }}" class="goal-event-name">
                                </div>

                                <!-- Event category -->
                                <div class="col-sm-4 goal-event-category">
                                    <select class="goal-event-category">
                                        <option value="{{ event.task.category.name }}" selected>{{ event.task.category.name }}</option>

                                        {% for category in categories %}<option value="{{ category.name }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="row">

                                <div class="col-sm-5"></div>

                                <!-- Event start/stop -->
                                <div class="col-sm-4 goal-event-range">
                                    {{ event.start_time.strftime('%I:%M %p') }} - {{ event.stop_time.strftime('%I:%M %p') }}
                                </div>

                                <!-- Event duration -->
                                <div class="col-sm-3 goal-event-duration">
                                    {{ event.duration_str() }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Event archive -->
                <div class="col-sm-1 goal-event-archive">
                    <span class="goal-event-archive">x</span>
                </div>
            </div>
            {% endif %}
            {% endfor %}


        </div>
        {% endfor %}
        </div>


    </div>


</div>
{% endblock %}