{% extends 'base.html' %}

{% block body %}

<h1>your goals</h1>

<!-- Add new goal -->
<form method="post" action="add_goal" id="form-goal">
    i want to <input type="text" name="goalName" placeholder="watch tv"> for 
    <select name="goalType" class="goal-type-dropdown">
        <option value="at_least">at least</option>
        <option value="at_most">at most</option>
    </select>
    <input type="number" name="hours" placeholder="4"> hours 
    <input type="number" name="minutes" placeholder="30"> minutes
    from <input type="datetime-local" name="startDate" class="date-time-picker"> 
    to <input type="datetime-local" name="endDate" class="date-time-picker">.
    <button type="submit" id="#goalSubmit">save</button>
</form>

<!-- Goal Log -->
<div id="goal-log">
<ul id="goal-log-ul" class="list-group">
    {% for goal in goals %}

    <li class="list-group-item">
        <form>
            <!-- Goal name -->
            <span class="goal-input">
                <span class="goal-{{ goal.goal_id }}">
                    <input type="text" value="{{ goal.name }}" name="{{ goal.goal_id }}" class="goal-input-field goal-name">
                </span>
            </span>

            <!-- Goal type -->
            <span class="goal-type">
                <span class="goal-{{ goal.goal_id }}">
                    

                    <!-- Dropdown for seleting goal type -->
                    <span class="goal-type-dropdown goal-{{ goal.goal_id }}">
                        <select>
                            {% if goal.goal_type == "at_least" %}

                                <option value="at_least" selected>at least</option>
                                <option value="at_most">at most</option>

                            {% else %}

                                <option value="at_least">at least</option>
                                <option value="at_most" selected>at most</option>

                            {% endif %}
                        </select>
                    </span>

                </span>
            </span>

            <!-- Duration -->
            <span class="goal-input duration">
                <span class="goal-{{ goal.goal_id }}">
                    <input class="goal-input-field duration days" type="text" value="{{ goal.duration.days }}" name="days-{{ goal.goal_id }}"> days

                    <input class="goal-input-field duration hours" type="text" value="{{ goal.duration.seconds // 3600 }}" name="hours-{{ goal.goal_id }}"> hours

                    <input class="goal-input-field duration minutes" type="text" value="{{ goal.duration.seconds // 60 % 60 }}" name="minutes-{{ goal.goal_id }}"> minutes
                </span>
            </span>

            <!-- Start and end dates -->
            <span>
                from
                <span class="goal-start-time time-text">
                    {{ goal.start_time }}
                </span>
                <span class="goal-start-time time-input">
                    <input type="datetime-local" name="startDate" class="date-time-picker"> 
                </span>
                
                to
                <span class="goal-end-time time-text">
                    {{ goal.end_time }}
                </span>
                <span class="goal-end-time time-input">
                    <input type="datetime-local" name="endDate" class="date-time-picker"> 
                </span>
            </span>

            <!-- Categories -->
            <span class="goal-title">
                <span class="goal-{{ goal.goal_id }}">
                    
                    <!-- Dropdown for multiple selecting goals -->
                    <select multiple class="category-dropdown goal-{{ goal.goal_id }}">
                    
                        {% for category in categories %}
                            {% if category in goal.category %}
                                <option selected>{{ category.name }}</option>

                            {% else %}
                                <option>{{ category.name }}</option>

                            {% endif %}
                        {% endfor %}
                    </select>
                </span>
            </span>

            <!-- Save -->
            <span class="goal-edit-submit {{ goal.goal_id }}Submit" name="{{ goal.goal_id }}">
                <span>save</span>
            </span>
        </form>
    </li>
    {% endfor %}
</ul>
</div>

<h1>your categories</h1>

<!-- Add new category -->
<form method="post" action="add_category" id="form-category">
    <input type="text" name="categoryName" placeholder="new category">
    <select multiple name="categoryGoals" id="category-goal-dropdown">
        {% for goal in goals %}
            <option value="{{ goal.name }}">{{ goal.name }}</option>
        {% endfor %}
    </select> 
    
    <button type="submit" id="#categorySubmit">save</button>
</form>



<!-- Category Log -->
<div id="category-log">
<ul class="list-group">

    {% for category in categories %}
    <li class="list-group-item">

    <form>

        <!-- Category name -->
        <span class="category-input">
                <span class="category-{{ category.category_id }}">
                    <input type="text" value="{{ category.name }}" name="{{ category.category_id }}" class="category-input-field category-name">
                </span>
        </span>

        <!-- Goals -->
        <span class="goal-title">
            <span class="category-{{ category.category_id}}">
                
                <!-- Dropdown for multiple selecting goals -->
                <select multiple class="goal-dropdown category-{{ category.category_id }}">
                
                    {% for goal in goals %}
                        {% if goal in category.goal %}
                            <option selected>{{ goal.name }}</option>

                        {% else %}
                            <option>{{ goal.name }}</option>

                        {% endif %}
                    {% endfor %}
                </select>
            </span>
        </span>

        <!-- Save -->
        <span class="category-edit-submit {{ category.category_id }}Submit" name="{{ category.category_id }}">
            <span>save</span>
        </span>

    </form>
    </li>
    {% endfor %}

</ul>
</div>


{% endblock %}