{% extends "base.html" %}


{% block body %}

<form method="post" action="add_goal" id="form-goal">
    i want to <input type="text" name="goal" placeholder="watch tv"> for 
    <select name="goalType">
        <option value="atLeast">at least</option>
        <option value="atMost">at most</option>
    </select>
    <input type="number" name="hours" placeholder="4"> hours 
    <input type="number" name="minutes" placeholder="30"> minutes
    from <input type="datetime-local" name="startDate"> 
    to <input type="datetime-local" name="endDate">.
    <button type="submit">save</button>
</form>

{% endblock %}