{% extends 'base.html' %}

{% block body %}


<div class="row">
    <!-- <p class="title">AuditTime</p> -->
    
    <div class="col-8">
        
    </div>
    <div class="col-4" id="div-login">
        <div class="login-top">
        </div>

        <form class="form-login form-group" method="post">
            <div class="div-login-email">
                <input class="form-control" type="email" id="input-email" required autofocus name="email" placeholder="Email">
            </div>

            <div class="div-login-password">
                <input class="form-control" type="password" id="input-password" placeholder="Password" required name="password">
            </div>

            <div class="div-login-button">
                <button type="button" class="btn btn-primary" id="login-button">Log in</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}