{% extends 'base.html' %}

{% block body %}


<h1>Your Reports</h1>

<div id="report-goal">

asfdasdfasfsfssdasd



</div>

<div id="report-category">

Last 7 days

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col"></th>
                <th scope="col">Time Spent</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </tbody>

    </table>

</div>

<script src="static/js/d3.js"></script>

{% endblock %}