{% extends 'base.html' %}

{% block body %}

<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>

    <!-- jQuery -->
    <script src="static/js/jquery-3.3.1.min.js"></script>

    <!-- Chart.js -->
    <script>
        
    function printGoalData(result) {
        let goalNames = [];
        let goalDurations = [];
        let goalTotalTimes = [];
        let goalData = result;
        let goalType = goalData[Object.keys(goalData)[0]]["goal_type"];

        for (let goal in goalData) {
            goalNames.push(goal);
            goalDurations.push(goalData[goal]["target"]);
            goalTotalTimes.push(goalData[goal]["total_time"]);
        }

        var ctx = document.getElementById(goalType);

        var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: goalNames,
                datasets: [{
                    label: 'Total # of Hours Spent',
                    data: goalTotalTimes,
                    backgroundColor: 'rgba(255, 0, 128, 0.2)',
                    borderColor: 'rgba(255, 0, 128, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Target # of Hours',
                    data: goalDurations,
                    backgroundColor: 'rgba(255, 140, 0, 0.2)',
                    borderColor: 'rgba(255, 140, 0, 1)',
                    borderWidth: 1
                }]
            },

            options: {
                scales: {
                    xAxes: [{
                        stacked: false,
                        ticks: {
                            beginAtZero: true,
                        }
                    }],
                    yAxes: [{
                        stacked: false,

                    }]
                },
                responsive: true,
            }
        }); 

    }

    $(document).ready(function() {
        $.get("/report-goal-at-most-data", 
            printGoalData);
    });

    $(document).ready(function() {
        $.get("/report-goal-at-least-data", 
            printGoalData);
    });


    </script>


</head>
<h1>Your Reports</h1><br>

<div id="report-goal-graph" class="carousel slide div-reports" data-ride="carousel" data-interval="false">
    <h2>Progress</h2>
    <ol class="carousel-indicators">
        <li data-target="#report-goal-graph" data-slide-to="0" class="active"></li>
        <li data-target="#report-goal-graph" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <p>At Least</p>
            <canvas id="at_least"></canvas>
        </div>

        <div class="carousel-item">
            <p>At Most</p>
            <canvas id="at_most"></canvas>

        </div>
    </div>

    <a class="carousel-control-prev" href="#report-goal-graph" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#report-goal-graph" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>


<div id="report-goal" class="carousel slide div-reports" data-ride="carousel" data-interval="false">
    <h2>Goals</h2>
    <ol class="carousel-indicators">
        <li data-target="#report-goal" data-slide-to="0" class="active"></li>
        <li data-target="#report-goal" data-slide-to="1"></li>
        <li data-target="#report-goal" data-slide-to="2"></li>
        <li data-target="#report-goal" data-slide-to="3"></li>
        <li data-target="#report-goal" data-slide-to="4"></li>
        <li data-target="#report-goal" data-slide-to="5"></li>
    </ol>
    
    <div class="carousel-inner">

        
        <div class="carousel-item active">
            <p>Status</p>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Goal</th>
                    <th scope="col">Target</th>
                    <th scope="col">Time Spent</th>
                    <th scope="col">Time Left</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
        <tbody>

        {% for goal in goals %}
            {% if goal.total_time_str('all_time') %}

                <tr>
                    <td>
                        {{ goal.name }}
                    </td>

                    <td class="duration">
                        {{ goal.duration_str() }}
                    </td>

                    <td class="duration">
                        {{ goal.total_time_str('all_time') }}
                    </td>

                    <td class="duration">
                        {{ goal.time_left() }}
                    </td>

                    <td>
                        {% if goal.goal_status() == 'Success' %}
                            <span class="success">{{ goal.goal_status() }}</span>

                        {% elif goal.goal_status() == 'Fail' %}
                            <span class="fail">{{ goal.goal_status() }}</span>

                        {% endif %}
                    </td>
                </tr>

            {% endif %}
        {% endfor %}

        </tbody>
        </table>
        </div>





        <div class="carousel-item">
            <p>This Week</p>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Goal</th>
                    <th scope="col"></th>
                    <th scope="col">Time Spent</th>
                </tr>
            </thead>
        <tbody>

        {% for goal in goals %}
            {% if goal.total_time_str('this_week') %}

                <tr>
                    <td>
                        {{ goal.name }}
                    </td>

                    <td>
                    </td>

                    <td class="duration">
                        {{ goal.total_time_str('this_week') }}
                    </td>
                </tr>

            {% endif %}
        {% endfor %}

        </tbody>
        </table>
        </div>
    

    {% for item in time_periods %}

        <div class="carousel-item">
            <p>{{ item[0] }}</p>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Goal</th>
                        <th scope="col"></th>
                        <th scope="col">Time Spent</th>
                    </tr>
                </thead>

                <tbody>

                    {% for goal in goals %}
                    {% if goal.total_time_str(item[1]) %}

                        <tr>
                            <td>
                                {{ goal.name }}
                            </td>

                            <td>
                            </td>
                    
                            <td class="duration">
                                {{ goal.total_time_str(item[1]) }}
                            </td>
                        </tr>

                    {% endif %}
                    {% endfor %}

                </tbody>
            </table>
        </div>
    {% endfor %}
    

    </div>
 

    <a class="carousel-control-prev" href="#report-goal" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#report-goal" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    
</div>



<div id="report-category" class="carousel slide div-reports" data-ride="carousel" data-interval="false">
    <h2>Categories</h2>
    <ol class="carousel-indicators">
        <li data-target="#report-category" data-slide-to="0" class="active"></li>
        <li data-target="#report-category" data-slide-to="1"></li>
        <li data-target="#report-category" data-slide-to="2"></li>
        <li data-target="#report-category" data-slide-to="3"></li>
        <li data-target="#report-category" data-slide-to="4"></li>
        <li data-target="#report-category" data-slide-to="5"></li>
    </ol>
    
    <div class="carousel-inner">
        <div class="carousel-item active">
            <p>This Week</p>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col"></th>
                    <th scope="col">Time Spent</th>
                </tr>
            </thead>
        <tbody>

        {% for category in categories %}
            {% if category.duration_str('this_week') %}

                <tr>
                    <td>
                        {{ category.name }}
                    </td>

                    <td>
                    </td>

                    <td class="duration">
                        {{ category.duration_str('this_week') }}
                    </td>
                </tr>

            {% endif %}
        {% endfor %}

        </tbody>
        </table>
        </div>
    

    {% for item in time_periods %}

        <div class="carousel-item">
            <p>{{ item[0] }}</p>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col"></th>
                        <th scope="col">Time Spent</th>
                    </tr>
                </thead>

                <tbody>

                    {% for category in categories %}
                    {% if category.duration_str(item[1]) %}

                        <tr>
                            <td>
                                {{ category.name }}
                            </td>

                            <td>
                            </td>
                    
                            <td class="duration">
                                {{ category.duration_str(item[1]) }}
                            </td>
                        </tr>

                    {% endif %}
                    {% endfor %}

                </tbody>
            </table>
        </div>
    {% endfor %}
    

    </div>
 

    <a class="carousel-control-prev" href="#report-category" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#report-category" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    
</div>

<div class="report-space"></div>



{% endblock %}