{% extends 'base.html' %}

{% block body %}


<!-- Start a new task -->
<h1>Start A New Task</h1>
<div id="task-new">

    <!-- Event Timer -->
    <div id="stopwatch">
        <form id="form-stopwatch" method="post">
            I'm currently
           
            <input type="text" id="input-new-task-name" placeholder="watching Better Call Saul" required autofocus name="task">

            <select required id="select-task-category">
                <!-- <option value="Pick a category" disabled selected>Pick a category...</option> -->
                {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}

            </select>
            <span id="startStop">
                <div id="running-time"></div>
                <ul id="running-time-results"></ul>

                <button id="start-button" class="btn btn-primary" type="button">start</button>

                <button type="button" class="btn btn-primary" id="stop-button">stop</button>

            </span>

            <span id="datePickers">
                <input type="datetime-local" id="m-start" class="date-time-picker" required name="startTime" placeholder="START">
               
                <input type="datetime-local" id="m-stop" class="date-time-picker" required name="stopTime" placeholder="STOP">

                <button type="button" class="btn btn-primary" id="manual-submit">submit</button>
            </span>




        </form>

        <div id="duration">
        </div>
    </div>

</div>
    
<!-- Toggle between stopwatch and manual entry. -->
<span id="mode-toggler">
    <button class="btn btn-light" type="button" id="mode-stopwatch">SWITCH TO STOPWATCH MODE</button>
    <button class="btn btn-light" type="button" id="mode-manual">SWITCH TO MANUAL MODE</button>
</span>


<!-- Task Log -->
<table class="table table-hover" id="event-log">
    <thead>
    <tr>
        <th scope="col">Task</th>
        <th scope="col">Category</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Duration</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead> 

    <tbody>
    {% for event in events %}

    <tr class="tr-event-task">

        <!-- Event id, task id -->
        <form class="form-event-id">
            <input type="hidden" class="input-event-id" value="{{ event.event_id }}">
            <input type="hidden" class="input-task-id" value="{{ event.task.task_id }}">
        </form>

        <!-- Task name -->
        <td class="td-event-task">
            <input type="text" value="{{ event.task.name }}" class="td-input-event-task">
        </td>
        
        <!-- Category dropdown -->
        <td class="td-event-task-categories">
            <select class="td-input-event-task-categories">
                <option selected>{{ event.task.category.name }}</option>   
                {% for category in categories %}
                    <option>{{ category.name }}</option>
                {% endfor %}
            </select>
        </td>

        <!-- Start and end times -->
        <td class="td-event-start-time">
            {{ event.start_time.strftime('%m/%d at %I:%M %p') }}
            <input type="datetime-local" class="input-task-start-date-time-picker"> 
        </td>

        <td class="td-event-end-time">
            {{ event.stop_time.strftime('%m/%d at %I:%M %p') }}
            <input type="datetime-local" class="input-task-end-date-time-picker"> 
        </td>

        <!-- Duration -->
        <td class="td-event-duration">
            {{ event.duration_str() }}
        </td>

        <!-- Save -->
        <td class="td-event-task-save">
        <span class="span-event-task-save">
            <button class="btn btn-link btn-event-task-save">save</button>
        </span>
        </td>

        <!-- Delete -->
        <td class="td-event-task-remove">
        <span class="span-event-task-remove">
            <button class="btn btn-link btn-event-task-remove">x</button>
        </span>
        </td>

    </form>
    </tr>

    {% endfor %}
    </tbody>
</table>





{% endblock %}