{% extends 'base.html' %}

{% block body %}

<h1>Toggl Entries</h1>

<div id="div-toggl-entries">
<table class="table table-hover" id="toggl-entries">
    <thead>
        <tr>
            <th scope="col">Task</th>
            <th sccope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Category</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
    {% for entry in toggl_entries %}
    
        <tr class="tr-toggl">

        <!-- Toggl entry id -->
        <form class="form-toggl-id">
            <input type="hidden" value="{{ entry.toggl_entry_id }}" class="toggl-entry-id">
        </form>

            <!-- Title -->
            <td class="td-toggl-entry-title">
                {{ entry.title }}
            </td>

            <!-- Start -->
            <td class="td-toggl-entry-start">
                {{ entry.start_time }}
            </td>

            <!-- End -->
            <td class="td-toggl-entry-end">
                {{ entry.stop_time }}
            </td>

            <!-- Categories -->
            <td class="td-toggl-entry-categories">
                <select class="toggl-categories">
                    {% for category in categories %}
                        <option>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </td>            

            <!-- Save -->
            <td class="td-toggl-save">
                save
            </td>

            <!-- Delete -->
            <td class="td-toggl-remove">
                remove
            </td>        
        </tr>
        
    {% endfor %}
    </tbody>
</table>

{% endblock %}

