{% extends 'base.html' %}

{% block body %}


<!-- Toggle between stopwatch and manual entry. -->
<button id="mode-toggler" type="button"> switch between manual/stopwatch modes </button>

<!-- Stopwatch -->
<div id="stopwatch">
    <form id="form-stopwatch" method="post" action="/add_event">
        i'm currently 
        <input type="text" id="task" placeholder="watching Better Call Saul" required autofocus name="task">

        (<input type="text" id="category" placeholder="tv" required autofocus name="category">)

        <button id="startButton" name="startButton" type="button">start</button>
       
        <button type="button" id="stopButton" name="stopButton">stop</button>
    </form>

    <div id="duration">
    </div>
</div>


<!-- Manual entry -->

<div id="manual">
    <form id="form-manual" method="post" action="/add_event">

    i'm currently 
        <input type="text" id="m-task" placeholder="watching Better Call Saul" required autofocus name="task">

        (<input type="text" id="m-category" placeholder="tv" required autofocus name="category">)

        <input type="datetime-local" id="m-start" class="date-pick" placeholder="watching Better Call Saul" required autofocus name="startTime">
       
        <input type="datetime-local" id="m-stop" class="date-pick" placeholder="watching Better Call Saul" required autofocus name="stopTime">

        <button type="submit" id="manualSubmit">submit</button>
    </form>

</div>


<!-- Task Log -->
<div id="event-log">
<ul>
    {% for event in events %}            
            
    <li>
        <form>
            <!-- Task -->
            <span class="task-input">
                <span class="event-{{ event.event_id}}">
                    <input type="text" value="{{ event.task.name }}" name="{{ event.event_id }}" class="input-field">
                </span>
            </span>

            <!-- Category -->
            <span class="category-title">
                <span class="event-{{ event.event_id}}">
                    {{ event.task.category.name }}
                    
                    <!-- Dropdown for multiple selecting categories -->
                    <div class="category-dropdown event-{{ event.event_id }}">
                    
                    <!-- ADD THE ACTUAL OPTIONS FOR PICKING CATEGORIES OR SOMETHING -->
                        <ul>
                            <li>asdf1</li>
                            <li>asdf2</li>
                            <li>asdf3</li>
                        </ul>
                    </div>
                </span>
            </span>

            <!-- Duration -->
            <span>{{ event.duration() }}</span>

            <!-- Save -->
            <span class="event-edit-submit {{ event.event_id }}Submit">save</span>

        </form>
    </li>
    {% endfor %}
</ul>
</div>




{% endblock %}