{% extends 'base.html' %}

{% block body %}


<!-- Toggle between stopwatch and manual entry. -->
<button id="mode-toggler" type="button"> switch between manual/stopwatch modes </button>

<!-- Event Timer -->
<div id="stopwatch">
    <form id="form-stopwatch" method="post" action="/add_event">
        i'm currently 
        <input type="text" id="new_task" placeholder="watching Better Call Saul" required autofocus name="task">

        <select id="new_category" name="new_category">

                {% for category in categories %}
                <option>{{ category.name }}</option>
                {% endfor %}

        </select>

        <span id="startStop">
            <button id="startButton" name="startButton" type="button">start</button>
            <button type="button" id="stopButton" name="stopButton">stop</button>
        </span>

        <span id="datePickers">
            <input type="datetime-local" id="m-start" class="date-time-picker" required name="startTime">
           
            <input type="datetime-local" id="m-stop" class="date-time-picker" required name="stopTime">

            <button type="button" id="manualSubmit">submit</button>

        </span>


    </form>

    <div id="duration">
    </div>
</div>


<!-- Task Log -->
<div id="event-log">
<ul class="list-group" id="event-log-ul">
    {% for event in events %}            
            
    <li class="list-group-item">
        <form>
            <!-- Task -->
            <span class="task-input">
                <span class="event-{{ event.event_id }}">
                    <input type="text" value="{{ event.task.name }}" name="{{ event.event_id }}" class="event-input-field">
                </span>
            </span>

            <!-- Category -->
            <span class="category-title">
                <span class="event-{{ event.event_id}}">
                    
                    <!-- Dropdown for multiple selecting categories -->
                    <select class="category-dropdown event-{{ event.event_id }}">
                    
                        <option selected>{{ event.task.category.name }}</option>
                
                        {% for category in categories %}
                            <option>{{ category.name }}</option>
                        {% endfor %}

                    </select>
                </span>
            </span>

            <!-- Start Time -->
            <span>{{ event.start_time }}</span>

            <!-- Stop Time -->
            <span>{{ event.stop_time }}</span>

            <!-- Duration -->
            <span>{{ event.duration() }}</span>

            <!-- Save -->
            <span class="event-edit-submit {{ event.event_id }}Submit">save</span>
        </form>
    </li>
    {% endfor %}
</ul>
</div>




{% endblock %}